.badge {
    padding: 5px 10px 5px 8px;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    border-top: none;
    border-right: none;
    letter-spacing: 1px;
}
