.pokemon-detail {
  max-width: 30em;
  margin: auto;
}

.pokemon-detail .title {
  display: flex;
  text-transform: capitalize;
}

.pokemon-detail .title .id {
  margin-right: 1rem;
}

.pokemon-detail .badge-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pokemon-detail .badge-list > *:not(:first-child) {
  margin-left: 10px;
}

.pokemon-detail .moves {
  margin-top: 1rem;
  font-weight: bold;
}
